body {
  background: #555;
  margin: 0;
  padding: 0;
}

.modal-wrapper {
  // background: #bdd;
  width: 600px;
  height: 600px;
  // margin:auto;
  padding: 50px;
  top: 50%;
  position: absolute;
  margin-top: -350px;
  left: 50%;
  margin-left: -350px;
}

.modal-canvas {
  width: 100%;
  height: 100%;
  background: url('../img/ring.png');
  background-size: contain;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.wrestler{
  width: 80px;
  height: 80px;
  position: absolute;
  left:0;
  top:0;
  display: block;

  background: url('../img/smlsprite.png');
  background-position: 0px 0px;

  display: block;
  transform: rotate(90deg);
  transition: transform 0.2s;
}


.wrestler#wrestlerblue{
  background: url('../img/smlblue.png');
}

.wrestler#wrestlerred{
  background: url('../img/smlred.png');
}

.wrestler#wrestlerblack{
  background: url('../img/smlblack.png');
}

.wrestler#wrestlergreen{
  background: url('../img/smlgreen.png');
}